/* Global Styles */

html,
body {
    height: 100%;
}

body {
    /*margin-top: 100px; */
    background-color: #fff;
    overflow-x: hidden;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Wrapper and Page wrapper */

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.divide-text {
    line-height: 20px;
    font-size: 20px;
    padding: 5px 0;
}

/* Side Navigation */
@media (min-width: 768px) {

    /*.side-nav {
        position: fixed;
        top: 51px;
        left: 150px;
        width: 125px;
        margin-left: -125px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #114041;
        bottom: 0;
        overflow-x: hidden;
        padding-top: 50px;
        padding-bottom: 40px;
    } */
    #sidebar-wrapper {
        position: fixed;
        top: 51px;
        left: 150px;
        width: 150px;
        height: 100%;
        /* Overriding the max-height property of sideNav*/
        max-height: none;
        margin-left: -150px;
        overflow-y: auto;
        background-color: #114041;
        overflow-x: hidden;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding-top: 50px;
    }

    .side-nav > li > a {
        width: 150px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000000 !important;
    }

    #wrapper {
        padding-left: 150px;
    }

    #sidebar-wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper.toggled {
        width: 0;
    }

    #page-wrapper {
        padding: 20px;
        position: relative;
    }

    #sidebar-wrapper.toggled #page-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

#sidebar-wrapper.toggled {
    width: 150px;
}

#page-wrapper {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    display: inline-block;
    /*padding: 0 15px; */

    /*width: 100%;
    position: absolute;
    padding: 15px; */
}

#sidebar-wrapper.toggled #page-wrapper {
    margin-right: -150px;
}

#primary-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

